.person-modal {
  &-header {
    background: #193354;
    border: 0;
    color: white;
  }

  &-footer {
    border: 0;
  }

  &-error {
    color: darkred;
    font-weight: bold;
    font-size: 16px;
  }
}
